@reboot echo "───────────────────────────────────────" > /proc/1/fd/1
@reboot date | echo "Starting, let's go !" > /proc/1/fd/1
@reboot echo "───────────────────────────────────────" > /proc/1/fd/1
* * * * * date > /proc/1/fd/1
* * * * * date | echo "Crontab is working - watchdog 1 - Waiting for next run to start..." > /proc/1/fd/1 
#
##########################################
# pullio containers                    ###
##########################################
#
# pull.io script from hotio for updating containers
# Every day at 5:00
0 5 * * * /bin/bash /config/scripts/pullio/pullio.sh> /proc/1/fd/1
#
##########################################
